@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container{
    padding: 10px;
}

.header{
    display: flex;
    justify-content: center;
}
.branches{
    display: flex;
    padding: 10px 0;
}
.clients{
    display: flex;
    padding: 10px 0;
}

.clients ol {
    padding: 0 20px;
}
.branches ul li {
    padding: 0 10px;
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Montserrat';
    color: #fff;
}

th{
    padding: 0 5px;
}

td {
    border: solid 1px #fff;
    /* border-style: none solid solid none; */
    padding: 20px;
}